<!DOCTYPE html>
<html>

<head>
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Movie Recommendation System</h1>
    <form action="/suggest" method="POST">
        <label for="userId">User ID:</label>
        <input type="text" name="userId" id="userId" required>
        <button type="submit">Get Movie Suggestions</button>
    </form>
    <h2>Suggested Movies:</h2>
    <table>
        <tr>
            <th>MovieID</th>
            <th>Title</th>
            <th>Genres</th>
        </tr>
        {% for movie in suggestions %}
        <tr>
            <td>{{ movie['MovieID'] }}</td>
            <td>{{ movie['Title'] }}</td>
            <td>{{ movie['Genres'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>