<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Movie Recommendation System</h1>
    <form action="/suggest" method="POST">
        <label for="userId">User ID:</label>
        <input type="text" name="userId" id="userId" required>
        <button type="submit">Get Movie Suggestions</button>
    </form>
    {% if suggestions %}
        <h2>Suggested Movies:</h2>
        <ul>
            {% for movie in suggestions.iterrows() %}
                <li>{{ movie[1]['title'] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>