<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rạp Chiếu Phim</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rapphimcss.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <div class="tongquat">
        <header class="header">
            <div class="container header__inner">
                <a href="/" class="logo">
                    <span class="logo__text">CINE</span>MA
                </a>
                <nav class="header__menu">
                    <ul class="header__menu-list">
                        <li class="header__menu-item">
                            <a href="/" class="header__menu-link">
                                Trang Chủ
                            </a>
                        </li>
                        <li class="header__menu-item">
                            <a href="phimchieurap.html" class="header__menu-link">
                                Phim Chiếu Rạp
                            </a>
                        </li>
                        <li class="header__menu-item">
                            <a href="reviewphim.html" class="header__menu-link">
                                Review Phim
                            </a>
                        </li>

                        <li class="header__menu-item">
                            <a href="#" class="header__menu-link">
                                Thông Tin
                            </a>
                        </li>
                        <li class="header__menu-item">
                            <a href="dangki.html" class="header__menu-link">
                                Đăng Ký
                            </a>
                        </li>
                        <li class="header__menu-item">
                            <i class="fas fa-search header__menu-link" id="timkiem"> </i>
                        </li>

                        <li class="header__menu-item" id="login-btn">
                            <a href="#" class="header__menu-link btn ">
                                Đăng Nhập
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </header>
        <section class="category">
            <div class="container">
                <ul class="category__list">
                    <li class="category__item">
                        <img src="./images/nowayhome.jpg" alt="" />
                        <h3>Spider Man 3</h3>
                        <a href="reviewphim.html">
                            Xem Ngay <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li class="category__item">
                        <img src="./images/endgame.jpg" alt="" />
                        <h3>Avenger:Endgame</h3>
                        <a href="#">
                            Xem Ngay <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li class="category__item">
                        <img src="./images/eternals.jpg" alt="" />
                        <h3>Eternals</h3>
                        <a href="#">
                            Xem Ngay <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li class="category__item">
                        <img src="./images/dune.jpg" alt="" />
                        <h3>DUNE</h3>
                        <a href="#">
                            Xem Ngay <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </section>


 
        <button onclick="topFunction()" id="myBtn" title="Go to top"></button>
        <script>
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("myBtn").style.display = "block";
                } else {
                    document.getElementById("myBtn").style.display = "none";
                }
            }

            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <section class="partner">
            <div class="container partner__container">
                <h2 class="partner__title">Đối Tác Của Chúng Tôi</h2>
            </div>
        </section>

        <footer class="footer">
            <div class="container footer__container">
                <div class="footer__item">
                    <a href="index.html" class="logo">
                        <span class="logo__text">CINE</span>MA
                    </a>

                </div>
                <div class="footer__item">
                    <a href="#" class="footer__link">Facebook</a>

                </div>
                <div class="footer__item">
                    <a href="#" class="footer__link">Zalo</a>
                </div>
                <div class="footer__item">
                    <a href="#" class="footer__link">Amazon</a>

                </div>
                <div class="footer__item">
                    <a href="#" class="footer__link">Netflix</a>
                </div>

            </div>
            <div class="footer_info">180 Cao Lỗ, P4, Q8, TP Hồ Chí Minh</div>
            <div class="footer_info">Hotline: 0975478414</div>
            <div class="footer_info">Phan Đức Huy D19_TH08 DH51903680</div>
        </footer>
    </div>
</body>

</html>